/* The source code is at ( https://github.com/Strangedip ) */

* {
    padding: 0;
    margin: 0;

}

html, body, #fullheight {
    min-height: 100% !important;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.container {
    margin-right:auto;
    margin-left: auto;
    height: 100%;
    background-color: black;

}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 25%;
}

.result span {
    font-size: 150px;
    align-self: center;
    justify-self: center;
}

.buttons {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: 60%;
    background-color: black;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
    border-radius: 100%;
    width: 130px;
    height: 130px;
    padding: 10px;
    cursor: pointer ;
    align-self: center;
    justify-self: center;
}

.percent, .negative {
    background-color: aliceblue;
    border: none;
    color: black;
}

.item {
    background-color:white;
    border: none;
}
.item3 {
    background-color: orange;
    border: none;
}
.numbers {
    background-color: grey;
    border: none;
}
.comma {
    background-color: black;
    border: none;
}
.clear, .backSpace {
    background-color: black;
    border-color: aliceblue;
}
.itemZero {
    background-color: grey;
    width: 435px;
    border-radius: 135px;
    grid-column: span 2;
    border: none;
}
